<%= form_with model: article do |form| %>

  <div class="article-form-title">
<!--    <%#= form.label :title %><br>-->
    <%#= form.text_field :title ,placeholder: "Title"%>
  </div>

  <div class="article-form-body">
<!--    <%#= form.label :body %><br>-->
    <%= form.text_area :body,placeholder: "Whats happening ?" %><br>
  </div>

  <div class="article-form-submit">
    <%= form.submit "Post"%>
  </div>
<% end %>
